main {
  & > header {
    background: #39c9d8;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    z-index: 8000;

    & h1 {
      margin: 0;
    }

    & .user--icon {
      border-radius: 50%;
      display: block;
      height: 36px;
      width: 36px;
    }

    & .user--login {
      display: block;
    }
  }
}
