@import "../variables.css";

:root {
  --header-button-size: 36px
}

.global-header {
  position: fixed;
  background: var(--color-main);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  z-index: 8000;
  width: 101vw;
  top: 0;

  & h1 {
    margin: 0;
    font-size: 1.75em;
  }

  & .user--icon,
  & .user--icon img {
    border-radius: 50%;
    display: block;
    height: 44px;
    width: 44px;
    background: #fff;
    color: var(--color-main);
    font-size: 22px;
    text-align: center;
    line-height: 44px;
  }

  & .user--icon img {
    border: 3px solid #fff;
  }

  & .user--login {
    display: block;
    color: #fff;
  }

  & .user--icon--menu {
    position: absolute;
    right: 14px;
    top: 64px;

    & li {
      transform: scale(0);
      transition: transform var(--duration-slow) var(--easing-in-out-back);
      visibility: hidden;
      &.--open {
        visibility: visible;
        transform: scale(1);
      }
    }

    & li {
      box-sizing: content-box;
      background: #fff;
      border: 3px solid var(--color-main);
      border-radius: 50%;
      box-shadow: var(--shadow);
      font-size: calc(var(--header-button-size) / 2);
      line-height: var(--header-button-size);
      height: var(--header-button-size);
      text-align: center;
      width: var(--header-button-size);
      margin-bottom: 10px;

      & .logout {
        color: var(--color-main);
        font-size: calc(var(--header-button-size) / 2);
      }

      & a,
      & a:visited,
      & a:focus {
        color: var(--color-main);
      }
    }
  }
}
