.calendar {
  width: 100%;
  & tbody {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
}
.calendar,
.calendar--detail {
  & .fa-dizzy {color: #4b6fdb}
  & .fa-frown {color: #6da0e9}
  & .fa-meh {color: #5be38a}
  & .fa-smile {color: #f9d260}
  & .fa-grin-stars {color: #f05768}

  & .fa-sun {color: #ff944c}
  & .fa-cloud {color: #ccc}
  & .fa-umbrella {color: #4184e2}
  & .fa-bolt {color: #f0ba72}
  & .fa-snowflake {color: #7bcbff}
}

.calendar--page-button {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 100vw;
  padding: 24px;

  & button {
    display: block;
    background: #fff;
    border: 2px solid var(--color-main);
    box-shadow: 0 0 10px 0 #aaa;
    border-radius: 50%;
    color: var(--color-main);
    width: 2rem;
    height: 2rem;
    z-index: 1000;
  }
}

.calendar--day {
  &:first-child {
    color: #d66;
  }
  &:last-child {
    color: #26d;
  }
}
.calendar--week {
  border-bottom: 1px solid #ddd;
}

.calendar--date {
  vertical-align: top;
  font-size: 0.6rem;
  height: 15vw;
  width: 10vw;
  border-right: 1px solid #ddd;

  & label {
    display: block;
    height: 100%;
  }

  & input:checked ~ .container {
    background: var(--color-main);
    & .date {
      color: #fff;
    }
  }

  & .container {
    position: relative;
    height: 100%;
    & .date {
      margin: 3px;
    }
    & i {display: none}
    & i.fas,
    & i.far {
      position: absolute;
      display: block;
      text-align: center;
      background: #fff;
      border-radius: 50%;
    }
    & i.fas {
      border: 3px solid #fff;
      left: 2.5vw;
      top: 3vw;
      font-size: 8vw;
      line-height: 8vw;
    }
    & i.fa-edit {
      box-sizing: content-box;
      border: 6px solid #fff;
      color: var(--color-main);
      left: 2.5vw;
      top: 4vw;
      font-size: 6vw;
      line-height: 6vw;
      height: 6vw;
      width: 6vw;
    }
  }
}

.calendar--weather {
  display: inline-block;
  background: var(--color-main-light);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  text-align: center;
}

.calendar--detail {
  padding: 8px;

  & header {
    display: flex;

    & h3 {
      font-size: 1.2rem;
      padding-left: 8px;
    }
    & button {
      margin-top: 0.1rem;
      margin-left: 0.5rem;
      background: #fff;
      border: 2px solid var(--color-main);
      border-radius: 50%;
      color: var(--color-main);
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  & .topic {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #ddd;

    &.icon {
      font-size: 8vw;
      & i {
        margin-right: 12px;
      }
    }

    &.count,
    &.time {
      display: flex;
      flex-wrap: wrap;
      & span {
        display: block;
        margin-right: 1rem;
        min-width: 4rem;
      }
    }
  }
}

.modal.edit--condition {
  & header {
    background: var(--color-orange);
    color: #fff;
    padding: 6px;
    text-align: left;

    & h1 {
      margin: 0 0.25em;
    }
  }

  & footer {
    background: #fff;
    border-top: 1px solid var(--color-gray);
    padding: 6px;
    text-align: left;
    display: flex;
    justify-content: flex-end;

    & button {
      font-weight: bold;
      letter-spacing: 0.2em;
      margin: 0 6px;
      padding: 8px 12px;
      border-radius: 2rem;
      display: block;

      &.cancel {
        background: #fff;
        border: 1px solid var(--color-orange);
        color: var(--color-orange);
        &:focus {
          background: var(--color-orange-dark);
        }
      }
      &.save {
        background: var(--color-orange);
        color: #fff;
        &:focus {
          background: var(--color-orange-dark);
        }
      }
    }
  }
}
