html,
body {
  font-family: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.075em;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}
